# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript
dist/
*.tsbuildinfo

# Build Artifacts
core-services.zip

# Environment Variables
.env
.env.local
.env.test
.env.production

# Logs
logs/
*.log
*.log.*
log/
pids/
*.pid
*.seed
*.pid.lock

# AWS Lambda
.aws-sam/
.aws/
.terraform/
serverless/
.tmp/

# VSCode
.vscode/
*.code-workspace

# IDEs and Editors
.idea/
*.iml

# OS Specific Files
.DS_Store
Thumbs.db
desktop.ini

# Coverage Directory
coverage/
*.lcov

# Jest
jest-html-reporters-*.html
coverage/
.nyc_output/

# PM2
pm2.log
pm2-error.log
